.a{
    /* font-size: 50px; */
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: initial;
    text-align: center;
    color: chocolate;

}
.b{
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: darkblue;
}